# Standard Qt Ignores
/build-*/
/debug/
/release/
*.o
*.obj
*.ilk
*.pdb
*.pch
*.suo
*.user
*.pro.user
*.pro.user.*
*.creator.user
Makefile*
*.moc
*.rcc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.exe
*.dll
*.app
*.dylib
*.so

.DS_Store
Thumbs.db

html/
latex/