# Standard Qt Ignores
/build-*/
/debug/
/release/
*.o
*.a 
*.obj
*.ilk
*.pdb
*.pch
*.suo
*.user
*.pro.user
*.pro.user.*
*.creator.user
*.moc
*.rcc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.exe
*.dll
*.app
*.out
*
*.dylib
*.so

Makefile*
Makefile
makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeScripts/
Testing/
CTestTestfile.cmake
build/
Build/
_build/
cmake-build-*/
*.pro.user

.DS_Store
Thumbs.db

html/
latex/